page {
	height: 100%;
	display: flex;
}

.box {
	height: 100%;
	flex: 1;
	background-color: rgb(196, 226, 249);
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 拖拽区域固定写法 */
movable-area {
	height: 100%;
	width: 100%;
	background-color: rgb(196, 226, 249);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navBox {
	width: 100%;
	height: 50rpx;
	/* background: red; */
	position: absolute;
	bottom: 0;
	z-index: 1000;
	left: 0;
	padding: 0 50rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.next {
	width: 50rpx;
}

.pre {
	width: 50rpx;
}

.tit{
	position: absolute;
	font-size: 3ch;
	/* left: 20rpx; */
	top: 60rpx;
}

.shoushi {
	width: 240rpx;
	z-index: 0;
}

.tuoyuan1 {
	position: absolute;
	/* border: solid red; */
	width: 100rpx;
	z-index: 1;
	right: 120rpx;
	top: 100rpx;
}
.TuoYuan1box {
	border: solid red;
	z-index: 2;
}
