page {
	height: 100%;
	display: flex;
}

.box {
	height: 100%;
	flex: 1;
}

/* 拖拽区域固定写法 */
movable-area {
	height: 100%;
	width: 100%;
	background-color: rgb(196, 226, 249);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.navBox {
	width: 100%;
	height: 50rpx;
	/* background: red; */
	position: absolute;
	bottom: 0;
	z-index: 1000;
	left: 0;
	padding: 0 50rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}

.next {
	width: 50rpx;
}

.pre {
	width: 50rpx;
}

.door3{
	width: 200rpx;
	/* border: 1px solid red; */
}

.hzBox{
	z-index: 1000;
	left: 12%;
	top: 42%;
}
.hz{
	width: 100rpx;
}
.tit{
	position: absolute;
	left: 10rpx;
	top: 10rpx;
	z-index: 100;
}

.ml{
	position: absolute;
	left: 80%;
	top: 15%;
	width: 100rpx;
}