page {
	height: 100%;
	display: flex;
}
.box {
	height: 100%;
	flex: 1;
}

/*  */
movable-area {
	height: 100%;
	width: 100%;
	background-color: rgb(196, 226, 249);
	overflow: hidden;	
	display: flex;
	justify-content: center;
	align-items: center;
}

.xzBox{

}
.xz{
	left: 10%;
	top: 30%;
	width: 300rpx;
	height: 172rpx;
	/* height: ; */
	position: absolute;
}
.pzBox{
	left: 80%;
	top: 20%;
	height: 20%;
}
.pz{
	height: 100%;
}
.navBox{
	width: 100%;
	height: 50rpx;
	/* background: red; */
	position: absolute;
	bottom: 0; 
	z-index: 1000;
	left: 0;
	padding: 0 50rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.next{
	width: 50rpx;
}
.pre{
	width: 50rpx;
}