page {
  width: 100%;
  height: 100%;
}
.question-wrap {
 //  background: url("../../../static/p1/ditu.png")
	// no-repeat;
  // background-size: 100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  .content-wrap {
  }
}
.ditu {
	position: absolute;
	width: 100%;
	height: 100%;
}
.dongwutaoyi {
	position: absolute;
	/* border: solid red; */
	border: solid red;
	width: 180rpx;
	height: 40rpx;
	top: 72%;
	left: 5%;
}
.chuanran {
	position: absolute;
	border: solid red;
	width: 410rpx;
	height: 40rpx;
	top: 45%;
	left: 23%;
	width: 170rpx;
	height: 40rpx;
	top: 72%;
	left: 39%;
}
.yaoshang {
	position: absolute;
	border: solid red;
	width: 170rpx;
	height: 40rpx;
	left: 72%;
	top: 72%;
}
.navBox{
	width: 100%;
	height: 50rpx;
	/* background: red; */
	position: absolute;
	bottom: 0; 
	z-index: 1000;
	left: 0;
	padding: 0 50rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}
.pre{
	width: 50rpx;
}